* {
    box-sizing: border-box;
}

body {
    color: #222;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

main {
    padding: 20px;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a.logo {
    font-weight: bold;
    font-size: 1.6rem;
}

header nav {
    display: flex;
    gap: 15px;
}

div.post {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    gap: 20px;
    margin-bottom: 40px;
}

div.post div.texts h2 {
    margin: 0;
    font-size: 1.6rem;
    text-decoration: none;
}

div.post a {
    text-decoration: none;
    color: inherit;
}

div.post p.info {
    margin: 8px 0;
    color: #888;
    font-size: .7rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

div.post p.info a.author {
    color: #333;
}

div.post p.summary {
    margin: 10px 0;
    line-height: 1.5rem;
}

form.login,
form.register {
    max-width: 400px;
    margin: 0 auto;
}

input {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
}

button {
    width: 100%;
    display: block;
    padding: 15px 10px;
    background-color: #222;
    color: #fff;
    border: 0;
    border-radius: 10px;
}

form.login h1,
form.register h1 {
    text-align: center;
    margin-bottom: 40px;
}

div.post-page .image {
    display: block;
    max-height: 500px;
    overflow: hidden;
    height: 500px;
}

div.post-page .image img {
    object-fit: contain;
    object-position: center center;
}

div.post-page a {
    text-decoration: underline;
    color: #333;
}

div.post-page h1 {
    font-weight: bold;
}

div.post-page .post-info {
    display: flex;
    gap: 0.5rem;
    padding: 20px 0;
    align-items: center;
}

div.post-page .post-info * {
    color: #888;
}